<!DOCTYPE html>
<html>
  <head>
    <title>Meniara Bsissa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <style>
    #banner {
      width: 100%;
      height: 360px;
    }
  </style>
  </head>
  <body>
    <!--Navbat-->
    <nav class="navbar navbar-dark bg-dark shadow-sm fixed-top">
        <div class="container-fluid">
           <a class="navbar-brand" href="#">Meniara</a>  
        </div>
    </nav>
    <div style="height:56px"></div>
    <div class="container">
    <h1 class="text-center mt-2 mb-4" >{{company_name}} Bsissa</h1>
    <img id="banner" src="https://f715a65d-31e5-44b8-b328-1261ab467a00-00-1m0xj6oi4poca.kirk.replit.dev:5000/static/work2.jpg" class="img-fluid">
    <h2 class="text-center mt-2 mb-4">About Meniara</h2>
      <div class="row" style="margin-bottom:16px">
        <div class="col-md-6">
    <p class="lead">
      Our company is excited to announce that we have several job openings available. We are looking for talented and motivated individuals to join our team and contribute to our ongoing projects. We look forward to receiving your applications and welcoming new members to our team.
    </p>
        </div>
        <div class="d-none d-md-block col-md-6">
    <img src="static/work.jpg" style="height:320px; border-radius:4px;">
        </div>
      </div>
    <h2 class="text-center">Open Position</h2>

      <div>
        {% for job in jobs %}
        {% include 'jobitem.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
    <a href="mailto:meniara@gmail.com" class="btn btn-primary btn-lg">Contuct Us</a>
      </div>
      </div>

  <footer class=" p-4 text-blacl mt-6">
    Copyright 2024 Meniara</a>
    </footer>
  </body>
</html>